<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
<footer>
<div class="d-flex justify-content-center pt-2">
    <p class="fs-4">Books That I Have Read ©2024 by Willy Candra</p>
</div>
</footer>
</html>
